* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-image: url("images/Margo.jpeg");
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav > h2 {
    text-align: center;
    margin: 0 auto;
}

#blog-list {
    padding: 55px 10px 10px;
}